        <h1>
            BMI calculator
        </h1>
        <form action="/bmiResults" method="post">
            <label for="iName">Name:</label>
            <input id="iName" typr="text" name="txtName"><br>
            <label for="iWeight">Weight(kg):</label>
            <input id="iWeight" typr="text" name="txtWeight"><br>
            <label for="iHeight">Height(m):</label>
            <input id="iHeight" typr="text" name="txtHeight"><br>
            <input type="submit" name="btnSubmit" value="Submit">           
        </form>