<h1 style="padding-left: 5%; padding-top: 3%;">Create Event</h1>
<form action="/event/createEvent" method="post" id="addEvent"  enctype="multipart/form-data">
<div class="container">
 <div class="row">
    
        <div class="col-md-11 mb-4 center">
            <div class="card">
                <div class="row no-gutters">
                            <div class=" image-container">
                                <input type="file" id="eventImage" name="eventImage" accept="image/*" onchange="previewImage(event)" style="display: none;" required>
                                <img src="/img/uploadPlaceholder.png" id="imagePreview" class="img-fluid" alt="Event Image" onclick="document.getElementById('eventImage').click();" style="cursor: pointer;">
                            </div>
                    <div class="card-body">
                         <div style="margin-bottom: 10px;">
                            <label for="eventName" style="display: block;">Event Name:</label>
                            <input type="text" id="eventName" name="eventName" value="" required><br>
                        </div>
                        <div class="col-md-12">
                            <small class="text-muted">
                                 <div class="row">
                                    <div class="col-md-4 float-left">Organised by: You</div>
                                    <div class="col-md-4" style="text-align: center;">Event Location: </div>
                                    <div style="" class="col-md-4 float-right">
                                        <label for="eventDate" style="">Event Date:</label>
                                        <input id="datepicker" width="200" name="eventDate" value="" readonly>
                                    </div>
                            
                                </div>
                            </small></div><br>
                       {{!-- {{#if event.eventImg}}
                            <div class="image-row">
                                {{#each event.eventImg}}
                                   <div class=" image-container">
                                        <img src="" class="img-fluid" alt="Event Image">
                                    </div>
                                {{/each}}
                            </div>
                        {{/if}}  --}}
                        <div id="imageUploadContainer">
                            <div class="image-row">
                                <div class="thumbnail">
                                    <img src="/img/uploadPlaceholder.png" alt="Thumbnail" class="thumbnail" style="height: 200px;" id="thumbnail" onchange="previewImage(event)">
                                </div>
                            
                            </div>
                        </div>
                        <div style="margin-bottom: 10px;">
                          <label for="eventDescription" style="display: block;">Event Description:</label>
                          <textarea id="eventDescription" name="eventDescription" rows="4" cols="" value="" required></textarea>
                      </div>

                      <div class="card-container center">
                        <div class="panel">
                            <div>
                            <img class="sb-title-icon" src="https://fonts.gstatic.com/s/i/googlematerialicons/location_pin/v5/24px.svg" alt="">
                            <span class="sb-title">Address Selection</span>
                            </div>
                            <input type="text" placeholder="Address" id="location-input" required />
                            <input type="text" placeholder="City" id="locality-input" required/>
                            <div class="half-input-container">
                            <input type="text" placeholder="Country" id="country-input"/>
                            <input type="text" class="half-input" placeholder="Zip/Postal code" id="postal_code-input" required/>
                            </div>
                        </div>
                        <div class="map" id="gmp-map"></div>
                        </div>
                    </div>

                </div>
            </div>
            <div style=" position: absolute; bottom: 25px; right: 6%; margin-right:30px">
                <button class="btn btn-dark" style="">Update</button>
            </div>
        </div>
      
 </div>
 
</div>

  </form>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
{{!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkIJSwIxhL_0K6hzTOZeDFZmeAyiu9NDI&libraries=places,marker&callback=initMap&solution_channel=GMP_QB_addressselection_v2_cABC" async defer></script> --}}


{{!-- <script src="/js/googleMaps.js" async defer></script> --}}
<script src="/js/eventInput.js"></script>


<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Google+Sans+Text:500&amp;lang=en">


<link rel="stylesheet" href="/css/eventCard.css">
<link rel="stylesheet" href="/css/eventMap.css">
